*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
#Introduction{
    background: rgb(24, 23, 23);
}
#MainTitle{
    text-align: center;
    padding-top: 15px;
    color: rgb(252, 118, 1);
    font-size: 40px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.logo{
    color: rgb(45, 244, 39);
    font-size: 28px;
    letter-spacing: 1px;
    cursor: pointer;
}
.logoSpan{
    color: rgb(252, 118, 1);
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: rgb(18, 243, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: rgb(250, 250, 4);
    transition: .5s;
}
.donate{
    background-color: rgb(45, 244, 39);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
}
.donate:hover{
    transform: scale(1.2);
}

.MainNews{
    display: flex;
    width: 100%;
    height: 38px;
    background: rgb(18, 243, 255);
    align-items: center;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.dateScroll{
    display: inline;
    text-decoration: none;
    color: rgba(78, 105, 133, 0.7);
}
.newsScroll{
    display: inline;
    padding: 10px 40px;
}

.miniNews{
    display: inline;
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 18px;
    font-weight: bold;
}
.newsMouth{
    width: 160px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 7, 7);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.TopPlay{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-weight: normal;
    background: rgb(27, 27, 27);
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5px;
    color: rgb(18, 243, 255);
}
.container .main-video{
    background: rgb(18, 243, 255);
    border-radius: 5px;
    padding: 10px;
}
.container .main-video video{
    width: 100%;
    border-radius: 5px;
}
.container .main-video .video-title{
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container .video-list{
    background: rgb(60, 60, 60);
    border-radius: 10px;
    height: 600px;
    overflow-y: scroll;
}
.container .video-list::-webkit-scrollbar{
    width: 7px;
}
.container .video-list::-webkit-scrollbar-track{
    background: rgb(247, 247, 247);
    border-radius: 50px;
}
.container .video-list::-webkit-scrollbar-thumb{
    background: rgb(215, 95, 15);
    border-radius: 50px;
}
.container .video-list .vid video{
    width: 150px;
    border-radius: 10px;
}
.container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: rgb(27, 27, 27);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(215, 95, 15);
    cursor: pointer;
}
.container .video-list .vid:hover{
    background: rgb(215, 95, 15);
}
.container .video-list .vid.active{
    background: rgb(215, 95, 15);
}


/* FREE GAMES SECTION */
.gaming-content{
    width: 100%;
    height: 100vh;
    background: rgb(27, 27, 27);
    position: relative;
    justify-content: space-between;
}

.newsSpan{
    color: rgb(215, 95, 15);
}
/* F2p section */
.free2play{
    position: absolute;
    right: 10px;
    border-radius: 80px;
    width: 48%;
    height: 100%;
    background: rgb(0, 0, 0);
    perspective: 1000px;
}
.free2play h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(18, 243, 255);
}
.f2p{
    color: rgb(215, 95, 15);
}
.listofgames{
    border: 5px solid rgb(15, 15, 15);
    border-radius: 50px;
    align-items: center;
    text-align: center;
    height: 85%;
    background: rgb(77, 75, 75);
    overflow-y: scroll;
}
.gameUrl{
    text-decoration: none;
    color: rgb(215, 95, 15);
    transition: .5s;
}
.gameUrl:hover{
    color: rgb(245, 39, 39);
}
.listofgames h3{
    color: rgb(215, 95, 15);
}
.listofgames p{
    color: rgb(18, 243, 255);
}
.mmo-content h3{
    color: rgb(215, 95, 15);
}
.mmo-content p{
    color: rgb(0, 0, 0);
}
.linkArticle{
    text-decoration: none;
    color: rgb(215, 95, 15);
    transition: .5s;
}
.linkArticle:hover{
    color: rgb(245, 39, 39);
}

/* Random Facts Section */
.animeImg{
    padding-top: 30%;
    width: 320px;
    height: 400px;
}
.EpicFree{
    position: absolute;
    left: 10px;
    width: 48%;
    height: 100%;
    background: rgb(0, 0, 0);
    border-radius: 80px;
    perspective: 1000px;
}
.epicgames{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}
.EpicFree:hover .epicgames{
    transform: rotateY(180deg);
}
.flip-front{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-back{
    transform: rotateY(180deg);
}
.epicgames{
    text-align: center;
    border: 5px solid rgb(5, 5, 5);
    height: 85%;
    border-radius: 50px;
    background: rgb(77, 75, 75);;
    overflow-y: scroll;
}
.epicgames p{
    color: rgb(18, 243, 255)
}
.epicgames h3{
    color: rgb(215, 95, 15);
}
.EpicFree h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(18, 243, 255);
}
.epicImg{
    text-decoration: none;
    color: rgb(215, 95, 15);;
}


/* MMO section */
.MMO-Major{
    width: 100%;
    height: 100vh;
    background: rgb(27, 27, 27);
    position: relative;
    justify-content: space-between;
}
.mmo-content{
    text-align: center;
    border: 5px solid rgb(5, 5, 5);
    height: 85%;
    border-radius: 50px;
    background: rgb(77, 75, 75);;
    overflow-y: scroll;
}
.mmo-news{
    position: absolute;
    left: 10px;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    border-radius: 80px;
}

.mmo-news h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(18, 243, 255);
}